*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav {
    background-color: aqua;
    color:black;
    display: inline-block;
    width: 100%;
}
#logo {
    float: left;
    margin-left: 50px;
    font-size: 35px;
}
nav ul{
    list-style-type: none;
    display: flex;
    float: right;

}
nav ul li {
    padding: 13px;
}
nav ul li a {
    text-decoration: none;
    color:black;
    font-size: 18px;
}
